@import "./partials/customBootstrap";

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.netlogo {
  height: 40px;
}

.fontsmall {
  font-size: small;
}

.noradius {
  border-radius: 0px;
}

.backgroundblack {
  background-color: black;
}

.p3px {
  padding: 2px 8px;
}

.footerStyle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 5px;
  font-size: xx-small;
  color: grey;
}

.colgrey {
  color: gray;
  border-color: gray !important;
  background-color: transparent;
  height: 20px;
}

.marginR {
  margin-right: 5px;
}

.lineH {
  line-height: 15px;
  text-align: left;
}

.marginL {
  margin-left: 3rem;
}
// pagina edit profile

.StriveS {
  padding: 5px;
  background-color: #666666;
  text-align: left;
  font-size: medium;
  font-family: sans-serif;
  padding-left: 15px;
}

.imgProfile {
  height: 130px;
}

.buttonSave {
  padding: 5px 10px 5px 10px;
  background-color: white;
  color: black;
  border: none;
  font-weight: bolder;
  font-family: sans-serif;
}

h3 {
  font-size: large;
  font-family: sans-serif;
  color: #b8b8b8;
}
